.carousel {

    position: relative;
    overflow: hidden;
  }
  
  .carousel__item {
  
    float: right;
    color: #d1d0d0;
    padding-left: 20px;
    /*padding-bottom: 50px;*/
  
    /*box-shadow: 6px 6px 10px black;*/
  }
  
  .carousel__container {
  
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel__container::after {
  
    content: "";
    clear: both;
    display: table;
  }
  
  .carousel__next, .carousel__prev {
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
  
    background: url("../../picture/fleche-droite.svg")center center;
    background-color: #fff;
  
    background-repeat: no-repeat;
    background-size: 41px 41px;
    border-radius: 50%;
    top: 50%;
    margin-top: -20px;
    right: 10px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .carousel__prev {
    background-image: url("../../picture/fleche-gauche.svg");
    right: auto;
    left: 8px;
  }
  
  .carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
  }
  
  .carousel__next--hiden, .carousel__prev--hiden {
    opacity: 0;
  }
